[Desktop Entry]
Name=cmus
Comment=C* Music Player
Exec=cmus-open %f
Terminal=false
Type=Application
MimeType=audio/aac;audio/flac;audio/mp4;audio/mpeg;audio/ogg;audio/opus;audio/webm;audio/x-flac;audio/x-wav;audio/wav;
Categories=AudioVideo;Audio;Player;
Icon=audio-player
