[Desktop Entry]
Name=Neovim
Comment=Text editor
Exec=footclient nvim %F
Terminal=false
Type=Application
MimeType=text/plain;text/markdown;application/json;application/xml;text/css;text/csv;text/x-c++src;text/x-chdr;text/x-csrc;text/x-go;text/x-python;text/x-shellscript;text/x-tex;
Categories=Utility;TextEditor;
Icon=nvim
NoDisplay=true
