[Desktop Entry]
Name=vifm
Comment=Terminal file manager
Exec=footclient --app-id=vifm vifm %f
Terminal=false
Type=Application
MimeType=inode/directory;
Categories=System;FileManager;FileTools;
Icon=utilities-terminal
