[Desktop Entry]
Name=vifm
Comment=Terminal file manager
Exec=vifm-open %u
Terminal=false
Type=Application
MimeType=inode/directory;
Categories=System;FileManager;
Icon=utilities-terminal
