[Desktop Entry]
Name=vifm
Comment=Terminal file manager
Exec=/home/farhad/.local/bin/vifm-open %u
Terminal=false
Type=Application
MimeType=inode/directory;
Categories=FileManager;
Icon=utilities-terminal
