[Desktop Entry]
Name=Vim
Comment=Text editor
Exec=footclient vim %F
Terminal=false
Type=Application
MimeType=text/plain;text/x-matlab;text/x-fortran;text/rust;text/x-go;text/x-cmake;text/x-bibtex;application/toml;application/x-ipynb+json;
Categories=Utility;TextEditor;
Icon=vim
NoDisplay=true
