[Unit]
Description=Shpool Shell Session Pooler
OnFailure=notify-failure@%n.service

[Socket]
ListenStream=%t/shpool/shpool.socket
SocketMode=0600

[Install]
WantedBy=sockets.target
